
.dTable{
  background-color:aqua;
}

.titulo{
  text-align: center;
  text-decoration-color: salmon;
}


  h2 {
    font-size: 5rem;
    line-height: 4.5rem;
  }
  .sub-title {
    padding: 20px 0px;
  }

