ion-content {
  --background: url(/assets/fondo2.jpeg) no-repeat center/cover fixed;
}

ion-button{
--background:#36336b;
}
  h2 {
    font-size: 3.2rem;
    line-height: 5rem;
    color: white;
  }
  
  .sub-title {
    color: white;
    padding: 20px 0px;
  }

  .container{
    margin-top: 180px;

  }