
<ion-content  padding text-center >
  <div class="dTable">
    <div class="dCell">
      
      <div class="container">
        <ion-button expand="block" size="large">
            <img  slot="end" src="/assets/icon/play.png">
          Imagen de la semana
        </ion-button><br>
        <ion-button  size="large" >
          <img  slot="end" src="/assets/icon/play.png">
          Jugar
        </ion-button><br>
        <ion-button size="large">
          <img  slot="end" src="/assets/icon/trophy.png">
          Record</ion-button><br>
        <ion-button size="large">
          <img  slot="end" src="/assets/icon/settings.png">
          Ajustes</ion-button><br>
        <ion-button size="large" >
          <img  slot="end" src="/assets/icon/idea.png">
          Como jugar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
