
<ion-content class="c" padding text-center>
  <div class="dTable">
    <div class="dCell">
      <h2 margin-bottom >PUZZLIVERSE</h2>
      <p class="sub-title">-www.eso.org-</p>
      <div class="container">
        <button ion-button block (click)="goSpaceShooter($event, user)">Imagen de la semana</button>
        <button ion-button block (click)="doLogout()">Jugar</button>
        <button ion-button block (click)="goSpaceShooter($event, null)">Recort</button>
        <button ion-button block (click)="doSignin()">Ajustes</button>
        <button ion-button block (click)="topScore($event)">Como jugar</button>
      </div>
    </div>
  </div>
</ion-content>
